.preview-img {
    width: 260px;
    border: 3px outset white;
}

table {
    border-spacing: 10px;
}

body {
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(bg.jpg);
    background-repeat: repeat;
    background-color: Bisque;
}
